*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 25px 0 black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    opacity: 1;
    z-index: 9999;

}
nav img{
    width: 50px;
    cursor: pointer;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #c6a7ed;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}
.nav-links ul li:hover::after{
    width: 100%;
}


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 38px;
    font-weight: 600;
    align-content: center;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row img{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
}
.course-col{
    flex-basis: 31%;
    background: rgb(245, 225, 253);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    font-size: x-large;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.course .btn{
    margin: 40px 0 70px 0;
    background: plum;
    padding: 15px 40px;
    border-radius: 5px;
}
.course .btn a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}



.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer-column {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}
.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}
.icons .fa{
    color: plum;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart{
    color: plum;
}
.socials {
    margin: 10px 0;
}
.socials ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 15px 0;
}
.socials ul li:not(:last-child) {
    margin-right: 12px;
}
.socials ul li a i {
    font-size: 1.5em;
}